# Blockchain Network RPC URL (e.g., http://127.0.0.1:8545)
RPC_URL=

# Deployed Attendance Smart Contract Address
CONTRACT_ADDRESS=

# Private Key of Authorized Account for Submitting Attendance Transactions
PRIVATE_KEY=

# Express Server Port (default: 5000)
PORT=5000
